<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · NextGear Motors">
      {assigns[:page_title] || "Home"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-radial-[ellipse_at_bottom_right] from-stone-800 via-neutral-900 to-black xl:flex xl:flex-col xl:items-center font-mono min-h-screen">
    <nav class="sticky top-3 z-50 shadow-10 flex flex-row justify-between items-center bg-zinc-950 rounded-3xl border border-zinc-800 my-3 mx-4 text-zinc-100 xl:5/6 md:p-2 xl:gap-16">
      <.link class="flex flex-row hover:text-zinc-300" href={~p"/"}>
        <.logo class="w-16 m-2" />
        <p class="max-md:text-sm lg:text-lg p-1 text-center font-bold">NextGear Motors</p>
      </.link>
      <button
        id="open_panel_button"
        phx-click={
          JS.toggle_class("rotate-90")
          |> JS.toggle_class("-translate-x-full", to: "#side_panel")
          |> JS.toggle_class("opacity-0", to: "#side_panel_bg")
          |> JS.toggle_class("pointer-events-none", to: "#side_panel_bg")
        }
        class="transform-gpu transition-transform duration-300 ease-in-out xl:hidden hover:text-zinc-300"
      >
        <.icon name="hero-bars-3" class="m-3" />
      </button>
      <div class="hidden xl:block">
        <.link href={~p"/vehicles"} class="hover:text-zinc-300 p-3">
          Vehicles
        </.link>
        <.link href={~p"/reservations"} class="hover:text-zinc-300 p-3">
          Reservations
        </.link>
        <.link href={~p"/contact"} class="hover:text-zinc-300 p-3">
          Contact Us
        </.link>
      </div>
      <div class="hidden xl:block">
        <%= if @current_user do %>
          <.link href={~p"/users/settings"}>
            <.button preset={:semi_transparent}>
              {@current_user.email} <.icon name="hero-user" class="h-4 w-4" />
            </.button>
          </.link>
          <.link href={~p"/users/log_out"} method="delete">
            <.button preset={:semi_transparent}>
              Log out <.icon name="hero-lock-closed" class="h-4 w-4" />
            </.button>
          </.link>
        <% else %>
          <.link href={~p"/users/register"}>
            <.button preset={:semi_transparent}>
              Register <.icon name="hero-clipboard-document-list" class="h-4 w-4" />
            </.button>
          </.link>
          <.link href={~p"/users/log_in"}>
            <.button preset={:semi_transparent}>
              Log in <.icon name="hero-lock-open" class="h-4 w-4" />
            </.button>
          </.link>
        <% end %>
      </div>
    </nav>
    <button
      id="side_panel_bg"
      class="transform-gpu fixed left-0 top-0 z-50 w-full h-full backdrop-blur-md pointer-events-none opacity-0 transition duration-300 ease-in-out"
      phx-click={
        JS.toggle_class("rotate-90", to: "#open_panel_button")
        |> JS.toggle_class("-translate-x-full", to: "#side_panel")
        |> JS.toggle_class("opacity-0")
        |> JS.toggle_class("pointer-events-none")
      }
    >
      <div
        id="side_panel"
        class="bg-zinc-950 border border-zinc-800 h-full w-max relative left-0 flex flex-col py-2 px-8 shadow-xl text-zinc-100 font-bold transition duration-300 ease-in-out -translate-x-full opacity-90"
      >
        <.link href={~p"/"} class="flex flex-col items-center border-b pb-3 mb-3">
          <.logo class="w-16 m-2" />
          <h1 class="p-1 text-center text-lg">NextGear Motors</h1>
        </.link>
        <.link href={~p"/vehicles"} class="hover:text-zinc-300 my-3">
          Vehicles
        </.link>
        <.link href={~p"/reservations"} class="hover:text-zinc-300 my-3">
          Reservations
        </.link>
        <.link href={~p"/contact"} class="hover:text-zinc-300 my-3">
          Contact Us
        </.link>
        <div class="flex flex-col mt-10">
          <%= if @current_user do %>
            <.link href={~p"/users/settings"}>
              {@current_user.email} <.icon name="hero-user" class="hover:text-zinc-300 my-3" />
            </.link>
            <.link href={~p"/users/log_out"} method="delete">
              Log out <.icon name="hero-lock-closed" class="hover:text-zinc-300 my-3" />
            </.link>
          <% else %>
            <.link href={~p"/users/register"}>
              Register
              <.icon name="hero-clipboard-document-list" class="hover:text-zinc-300 my-3" />
            </.link>
            <.link href={~p"/users/log_in"}>
              Log in <.icon name="hero-lock-open" class="hover:text-zinc-300 my-3" />
            </.link>
          <% end %>
        </div>
      </div>
    </button>
    <main class="text-zinc-100 h-max">
      {@inner_content}
    </main>
  </body>
</html>
