<article class="flex flex-col items-center p-4 md:p-10 md:p-20 gap-16">
  <section class="w-full">
    <h1 class="bg-zinc-900/50 font-bold p-4 text-center text-lg">404 - Page Not Found</h1>

    <div class="bg-zinc-800/50 p-4">
      <p>
        No valid route exists at this url.
      </p>
      <p>
        It likely does not exist or has been moved.
      </p>
      <.back navigate={~p"/reservations"}>Back to home</.back>
    </div>
  </section>
</article>
